// Topページに使う変数はここ

$pageSideMargin: 50px;
$borderWidth: 4px;
$borderWidth-thin: 1px;

$mainStringColor: rgba(255, 255, 255, 0.9);
$mainStringColor-transparent: rgba(255,255,255,0.2);
$mainBackgroundColor: black;

$breakpointOf-PC: 991px;
$breakpointOf-SF: 990px;