@charset "UTF-8";
/*
  Header : 自作
  Footer : ほぼ https://b-risk.jp/blog/2020/06/footer/ から
*/
@media only screen and (min-width: 991px) {
  header {
    position: sticky;
    top: 0;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    border-bottom: rgba(255, 255, 255, 0.7) 1px solid;
    font-family: "Itim", cursive;
  }
}
@media only screen and (min-width: 991px) and (min-width: 641px) {
  header {
    padding-right: 20%;
    padding-left: 20%;
  }
}
@media only screen and (min-width: 991px) and (max-width: 640px) {
  header {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media only screen and (min-width: 991px) {
  header .headerItems {
    display: flex;
  }
  header .headerItems a, header .headerItems .tools-index, header .headerItems .others-index, header .headerItems label {
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
  }
  header .headerItems .index {
    padding-top: 16.6666666667px;
    padding-bottom: 16.6666666667px;
  }
  header .headerItems .index :hover {
    color: white;
  }
  header .headerItems .headerItem {
    flex: auto;
  }
  header .headerItems .headerItem a {
    transition: 0.75s;
  }
}
@media only screen and (min-width: 991px) {
  header .header-logo-img {
    height: 30px;
    padding: 10px;
  }
}
@media only screen and (min-width: 991px) {
  header .tools-index {
    /* クリック時の登場アニメーション */
  }
  header .tools-index input {
    display: none;
  }
  header .tools-index label {
    cursor: pointer;
  }
  header .tools-index .tools-index-show {
    height: 0;
    padding: 0;
    overflow: hidden;
    opacity: 0;
    transition: 0.8s;
  }
  header .tools-index .tools-index-show ul {
    list-style: none;
    padding-left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
    z-index: 100;
  }
  header .tools-index .tools-index-show li {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  header .tools-index input:checked ~ .tools-index-show {
    height: auto;
    opacity: 1;
    animation: SlideIn 0.8s;
  }
  @keyframes SlideIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
@media only screen and (max-width: 990px) {
  header {
    display: none;
  }
}
footer {
  font-family: "Itim", cursive;
}
footer ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#topFooter {
  position: relative;
  background: rgba(0, 0, 0, 0.8);
}

#topFooter .logo {
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.7);
}

#topFooter .logo a {
  display: inline-block;
}

#topFooter .logo img {
  width: 100px;
}

#topFooter .nav a, #topFooter .nav p, #topFooter .nav u {
  display: block;
  padding: 0 10px;
  color: rgba(255, 255, 255, 0.7);
}

#topFooter .nav u:hover {
  color: white;
  cursor: default;
  transition: 0.75s;
}

@media only screen and (min-width: 991px) {
  #topFooter .nav {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
  }

  #topFooter .nav li {
    padding-left: 1%;
    padding-right: 1%;
  }

  #topFooter .nav a {
    text-align: center;
    text-decoration: none;
    transition: 0.75s;
  }
  #topFooter .nav a img {
    height: 30px;
  }

  #topFooter .nav a:hover {
    color: white;
  }

  #topFooter .nav div {
    text-align: center;
    text-decoration: none;
  }
  #topFooter .nav div img {
    height: 30px;
  }
}
@media only screen and (max-width: 990px) {
  #topFooter {
    text-align: center;
    border-top: rgba(255, 255, 255, 0.9) 1px solid;
  }

  #topFooter .nav li {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
  }

  #topFooter .nav li a {
    padding: 12px 20px;
  }

  #topFooter .nav li a {
    text-align: center;
    text-decoration: none;
    transition: 0.75s;
  }
  #topFooter .nav li a img {
    width: 90px;
    height: 90px;
  }

  #topFooter .nav a:hover {
    color: white;
  }

  #topFooter .nav li div {
    text-align: center;
    text-decoration: none;
  }
  #topFooter .nav li div img {
    height: 90px;
  }
}
.concept {
  text-align: center;
  padding-bottom: 20px;
  margin-top: 50px;
}
.concept a {
  font-size: 25px;
  color: rgba(255, 255, 255, 0.7);
  top: 130px;
  left: 50%;
  z-index: 1;
  transition: 0.75s;
}
.concept a:hover {
  color: white;
}

.borderLeftRight {
  display: inline-block;
  position: relative;
}

.borderLeftRight::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: white;
  transform-origin: bottom right;
  transition: transform 0.75s cubic-bezier(0.86, 0, 0.07, 1);
}

.borderLeftRight:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/*# sourceMappingURL=stylesheetFor-Header-Footer.css.map */
