@use "colorSetting";
@use "environmentVariables";

// 背景色
body {
  background: environmentVariables.$mainBackgroundColor;
  margin: 0;
}

// 固定されたヘッダの高さを考慮してページ上部に移動
#title {
  // $headerHeight と同等にする
  margin: -50px 0 20px;
  padding: 50px 200px 20px;

  text-decoration: none;
  width: auto;
  height: 200px;

  background-color: rgba(0, 0, 0, 0.2);
  background-image: url("../img/xwing.PNG");
  background-position: 90% 30%;
  background-size: 800px;
  background-repeat: no-repeat;

  border-bottom: environmentVariables.$mainStringColor environmentVariables.$borderWidth double;

  color: environmentVariables.$mainStringColor;
  font-family: 'Zen Dots', cursive;
  cursor: default;

  h1 {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: -10px;
  }

  p {
    margin-left: 30px;
    font-size: 20px;
  }
}

/* Menu 部分 */
#menu {
  width: auto;
  height: auto;
  padding: 0 30px 10px;
  margin: 10px environmentVariables.$pageSideMargin 20px;
  font-family: 'Zen Dots', cursive;

  h1 {
    color: environmentVariables.$mainStringColor;
    font-size: 40px;
    text-align: center;
  }

  a {
    display: flex;
    color: environmentVariables.$mainStringColor;
    text-decoration: none;
  }

  .MenuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .MenuItem {
    width: 15%;
    height: auto;

    margin: 0 1% 20px;
    padding: 20px 0;

    display: block;

    border: environmentVariables.$borderWidth solid;

    text-align: center;

    transition: 0.75s;

    .menu-icon {
      font-size: 150px;
    }

    .menu-icon-cloud {
      color: skyblue;
    }

    .menu-icon-statistics {
      color: palegoldenrod;
    }

    .menu-icon-university {
      color: rgb(135, 0, 21);
    }

    .menu-icon-books {
      color: greenyellow;
    }

    .menu-icon-camp {
      color: orange;
    }

    .menu-title {
      margin-top: -10px;
      font-size: 20px;
    }
  }

  .MenuItem:hover {
    background-color: environmentVariables.$mainStringColor-transparent;
  }
}

/* dashboard と tools の親クラス: 左右に分割 */
#split {
  display: flex;
  margin: 10px environmentVariables.$pageSideMargin;
}

/* 左側 */
#forecast {
  width: 25%;
  padding: 0 30px 10px;

  text-decoration: none;
  border: environmentVariables.$mainStringColor environmentVariables.$borderWidth solid;
  color: environmentVariables.$mainStringColor;
  transition: 0.75s;

  font-family: 'Zen Dots', cursive;

  display: block;

  h2 {
    text-align: center;
    font-size: 40px;
  }

  .weather-image {
    text-align: center;
  }

  img {
    width: 50%;
  }

  li {
    font-size: 20px;
  }

}

#forecast:hover {
  background-color: environmentVariables.$mainStringColor-transparent;
}


/* 右側 <- Menuとほぼ同じ */
#tools {
  width: 75%;
  height: auto;
  margin-left: 3%;
  border: environmentVariables.$mainStringColor environmentVariables.$borderWidth solid;
  padding: 0 30px 10px;
  font-family: 'Zen Dots', cursive;

  h1 {
    color: environmentVariables.$mainStringColor;
    font-size: 40px;
    text-align: center;
  }

  a {
    display: flex;
    color: environmentVariables.$mainStringColor;
    text-decoration: none;
  }

  .ToolItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .ToolItem {
    width: 15%;
    margin: 0 1% 20px;
    padding: 20px 0;
    height: 150px;
    display: block;

    border: environmentVariables.$borderWidth solid;

    text-align: center;

    transition: 0.75s;

    .tool-icon {
      font-size: 100px;
    }

    // Google Fonts や Font Awesome を使う場合 -> Colorだけ選択すればよい
    .tool-icon-twitter {
      color: rgb(19, 154, 233);
    }
    .tool-icon-millionEffort{
      color: green;
    }

    // 画像をアイコンとして使う場合 -> widthでサイズ調整(57%が良いかんじ？)
    .tool-icon-ringfit{
      width: 57%;
    }

    .tool-title {
      font-size: 15px;
    }
  }

  .ToolItem:hover {
    background-color: environmentVariables.$mainStringColor-transparent;
  }
}
