@use "environmentVariables";

body{
  margin-top: 0;
  background-color: black;
}

.news-item{
  font-family: "Noto Sans JP";
  color: white;
  border-bottom: environmentVariables.$mainStringColor environmentVariables.$borderWidth-thin solid;
}
