@charset "UTF-8";
@media screen and (min-width: 1701px) {
  body {
    background: black;
    margin: 0;
  }

  #title {
    margin: -50px 0 20px;
    padding: 50px 200px 20px;
    text-decoration: none;
    width: auto;
    height: 200px;
    background-color: rgba(0, 0, 0, 0.2);
    background-image: url("../img/xwing.PNG");
    background-position: 90% 30%;
    background-size: 800px;
    background-repeat: no-repeat;
    border-bottom: rgba(255, 255, 255, 0.9) 4px double;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Zen Dots", cursive;
    cursor: default;
  }
  #title h1 {
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: -10px;
  }
  #title p {
    margin-left: 30px;
    font-size: 20px;
  }

  /* Menu 部分 */
  #menu {
    width: auto;
    height: auto;
    padding: 0 30px 10px;
    margin: 10px 50px 20px;
    font-family: "Zen Dots", cursive;
  }
  #menu h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 40px;
    text-align: center;
    cursor: default;
  }
  #menu a {
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  #menu .MenuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #menu .MenuItem {
    width: 12.5%;
    height: auto;
    margin: 0 1% 20px;
    padding: 20px 0;
    display: block;
    border: 4px solid;
    text-align: center;
    transition: 0.75s;
  }
  #menu .MenuItem .menu-icon {
    font-size: 700%;
  }
  #menu .MenuItem .menu-icon-cloud {
    color: skyblue;
  }
  #menu .MenuItem .menu-icon-description {
    color: lightcoral;
  }
  #menu .MenuItem .menu-icon-books {
    color: greenyellow;
  }
  #menu .MenuItem .menu-icon-camp {
    color: orange;
  }
  #menu .MenuItem .menu-title {
    margin-top: -10px;
    font-size: 20px;
  }
  #menu .MenuItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  /* news と tools の親クラス: 左右に分割 */
  #split {
    display: flex;
    flex-direction: row-reverse;
    margin: 10px 50px;
  }

  /* 左側 */
  #news {
    width: 25%;
    padding: 0 30px 10px;
    text-decoration: none;
    border: rgba(255, 255, 255, 0.9) 4px solid;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.75s;
    cursor: default;
  }
  #news .wf-notosansjapanese {
    font-family: "Noto Sans JP";
  }
  #news h1 {
    font-family: "Zen Dots", cursive;
    text-align: center;
    font-size: 40px;
    border-bottom: rgba(255, 255, 255, 0.9) 4px solid;
  }
  #news .news-content {
    margin-top: -10px;
    width: 100%;
    height: 70%;
    border: black;
  }
  #news p {
    text-align: end;
  }

  /* 右側 <- Menuとほぼ同じ */
  #tools {
    width: 75%;
    height: auto;
    margin-left: 3%;
    border: rgba(255, 255, 255, 0.9) 4px solid;
    padding: 0 30px 10px;
    font-family: "Zen Dots", cursive;
  }
  #tools h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 40px;
    text-align: center;
    border-bottom: rgba(255, 255, 255, 0.9) 4px solid;
  }
  #tools a {
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  #tools .ToolItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #tools .ToolItem {
    width: 12.5%;
    margin: 0 1% 20px;
    padding: 20px 0;
    height: 150px;
    display: block;
    border: 4px solid;
    text-align: center;
    transition: 0.75s;
  }
  #tools .ToolItem .tool-icon {
    font-size: 600%;
    height: 70%;
  }
  #tools .ToolItem .tool-icon-twitter {
    color: #139ae9;
  }
  #tools .ToolItem .tool-icon-millionEffort {
    color: green;
  }
  #tools .ToolItem .tool-icon-airtable {
    color: lightcyan;
  }
  #tools .ToolItem .tool-icon-pory {
    color: white;
  }
  #tools .ToolItem .tool-icon-ringfit {
    height: 100%;
  }
  #tools .ToolItem .tool-title {
    font-size: 15px;
  }
  #tools .ToolItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }
}
@media screen and (max-width: 1700px) {
  body {
    background: black;
    margin: 0;
  }

  #title {
    padding: 0 10%;
    text-decoration: none;
    width: auto;
    height: 300px;
    background-image: url("../img/xwing.PNG");
    background-position: 150% 30%;
    background-size: 75%;
    background-repeat: no-repeat;
    border-bottom: rgba(255, 255, 255, 0.9) 1px solid;
    color: rgba(255, 255, 255, 0.9);
    font-family: "Zen Dots", cursive;
    cursor: default;
  }
  #title h1 {
    font-size: 75px;
    padding-top: 75px;
    margin-top: 0;
    margin-bottom: -10px;
  }
  #title p {
    margin-left: 30px;
    font-size: 30px;
  }

  /* Menu 部分 */
  #menu {
    width: auto;
    height: auto;
    padding: 0 30px 10px;
    margin: 10px 50px 20px;
    font-family: "Zen Dots", cursive;
    text-align: center;
  }
  #menu h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 70px;
    text-align: center;
    cursor: default;
  }
  #menu a {
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  #menu .MenuItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  #menu .MenuItem {
    width: 35%;
    height: auto;
    margin: 0 3% 50px;
    padding: 20px 0;
    display: block;
    border: 4px solid;
    text-align: center;
    vertical-align: middle;
    transition: 0.75s;
  }
  #menu .MenuItem .menu-icon {
    font-size: 1000%;
    height: 80%;
  }
  #menu .MenuItem .menu-icon-cloud {
    color: skyblue;
  }
  #menu .MenuItem .menu-icon-description {
    color: lightcoral;
  }
  #menu .MenuItem .menu-icon-books {
    color: greenyellow;
  }
  #menu .MenuItem .menu-icon-camp {
    color: orange;
  }
  #menu .MenuItem .menu-title {
    font-size: 40px;
    margin-top: -10px;
    margin-bottom: 0;
  }
  #menu .MenuItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  /* news と tools の親クラス: SPでは縦向き toolsが上でnewsが下*/
  #split {
    margin: 10px 50px;
    float: none;
  }

  /* 上側 <- Menuとほぼ同じ */
  #tools {
    width: auto;
    height: auto;
    font-family: "Zen Dots", cursive;
    margin: 0;
  }
  #tools h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 70px;
    text-align: center;
  }
  #tools a {
    display: flex;
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
  }
  #tools .ToolItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: flex-start;
  }
  #tools .ToolItem {
    width: 30%;
    margin: 0 1% 20px;
    padding: 20px 0;
    height: 250px;
    display: block;
    border: 4px solid;
    text-align: center;
    transition: 0.75s;
  }
  #tools .ToolItem .tool-icon {
    padding-top: 5%;
    font-size: 900%;
    height: 75%;
  }
  #tools .ToolItem .tool-icon-twitter {
    color: #139ae9;
  }
  #tools .ToolItem .tool-icon-millionEffort {
    color: green;
  }
  #tools .ToolItem .tool-icon-airtable {
    color: lightcyan;
  }
  #tools .ToolItem .tool-icon-pory {
    color: white;
  }
  #tools .ToolItem .tool-icon-ringfit {
    height: 75%;
  }
  #tools .ToolItem .tool-title {
    margin-top: -10%;
    font-size: 35px;
  }
  #tools .ToolItem:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  /* 下側 */
  #news {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.9);
    transition: 0.75s;
    cursor: default;
  }
  #news .wf-notosansjapanese {
    font-family: "Noto Sans JP";
  }
  #news h1 {
    margin-bottom: 10px;
    font-family: "Zen Dots", cursive;
    text-align: center;
    font-size: 70px;
    border-bottom: rgba(255, 255, 255, 0.9) 4px solid;
  }
  #news .news-content {
    font-size: 30px;
    margin-top: -10px;
    width: 100%;
    height: 600px;
    border: black;
  }
  #news p {
    font-size: 35px;
    text-align: end;
    border-bottom: rgba(255, 255, 255, 0.9) 4px solid;
  }
}

/*# sourceMappingURL=stylesheetFor-Top.css.map */
